
<div class="container">
	<p class="message"><%= notice %></p>
	<div class="row">
		<div class="col-xs-3">
			<%= render "users/list", user: @user %>
			<%= render "books/new", book: @bookn %>
		</div>
		<div class="col-xs-9">
			<h3>Books</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<% @books.each do |book| %>
					<tbody>
						<tr class="book_<%= book.id %>">
							<%= render "books/list", book: book %>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
    <div class="col-xs-12">
    <% if @user != current_user %>
      <% else %>
		  <h2>住所</h2>

      <div id='map'></div>

      <style>
      #map {
        height: 600px;
        width: 600px;
      }
      </style>

      <script>
      let map
      function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.7828, lng:-73.9653},
          zoom: 10,
        });

          geocoder.geocode( { address:  '<%= @user.address_city %><%= @user.address_street %><%= @user.address_building %>'}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
         }); 
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>


		</div>
    <% end %>
	</div>
</div>